:root {
  --accent-color: #2196f3; /* колір фокусу */
  --title-color: #ffffff; /* колір головного заголовку */
  --subtitle-color: #212121; /* колір підзаголовків */
  --description-color: #757575; /* колір текстів */
  --title-background-color: #2f303a; /* колір фону основного заголовку */
  --portfolio-background-color: #e5e5e5; /* колір фону portfolio-main */
}
/* ============================= RESET STYLES ============================= */
.list-reset {
  list-style: none;
}
.link-reset {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
/* ============================= /RESET STYLES ============================= */
/* ============================= GENERAL STYLES ============================= */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--description-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* ============================= /GENERAL STYLES ============================= */
/* ============================= COMPONENTS ============================= */
.logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-theme-light {
  margin-right: 93px;
  color: #000000;
}
.logo-theme-dark {
  margin-bottom: 20px;
  color: var(--title-color);
}
.logo-prefix {
  color: var(--accent-color);
}
.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--subtitle-color);
}
/* ============================= /COMPONENTS ============================= */
/* ============================= HEADER ============================= */
.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}
.menu-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.page-header-contacts-list {
  display: flex;
  align-items: center;
}

.page-header-contacts-list-item:first-child {
  margin-right: 50px;
}
.mail-link,
.tel-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--description-color);
}
.mail-link:hover,
.mail-link:focus,
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}
.page-active {
  color: var(--accent-color);
}
/* ============================= /HEADER ============================= */
/* .main {
} */
/* ============================= HERO ============================= */
.hero {
  min-width: 1200px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--title-background-color);
  background-image: url('../images/hero/nero-background.jpg');
  background-position: center;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-title {
  width: 696px;
  margin-bottom: 30px;
  color: var(--title-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  min-width: 200px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 8px 30px;
  color: var(--title-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}
/* ============================= /HERO ============================= */
/* ============================= BENEFITS ============================= */
.benefits-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits-section-title {
  display: none;
}
.benefits {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.benefits-card {
  margin-left: 30px;
  margin-top: 30px;
  width: calc((100% - 90px) / 4);
}
.benefits-title {
  margin-bottom: 10px;
  color: var(--subtitle-color);
  font-weight: 700;
  text-transform: uppercase;
}
.benefits-description {
  line-height: 1.71;
}
/* ============================= /BENEFITS ============================= */
/* ============================= OUR WORKS ============================= */
.our-works-section {
  padding-bottom: 94px;
}
.our-works {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.our-works-card {
  margin-top: 30px;
  margin-left: 30px;
  width: calc((100% - 90px) / 3);
}
/*.our-works-img {
}
*/
/* ============================= /OUR WORKS ============================= */
/* ============================= EMPLOYEES ============================= */
.employees-section {
  min-width: 1200px;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.employees {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.employees-card {
  padding-bottom: 30px;
  margin-left: 30px;
  margin-top: 30px;
  width: calc((100% - 120px) / 4);
  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.employees-photo {
  margin-bottom: 30px;
}
.employees-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--subtitle-color);
}
.employees-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--description-color);
}
/* ============================= /EMPLOYEES ============================= */

/* ============================= FOOTER ============================= */
.footer {
  min-width: 1200px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--title-background-color);
}
/* .contacts {
} */
/*.contacts-list {
}*/
.contacts-list-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-addres-link {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--title-color);
}
.footer-mail-link,
.footer-tel-link {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
/* ============================= /FOOTER ============================= */
/* ============================= PAGE PORTFOLIO ============================= */
/*.portfolio-main {
}*/
.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-portfolio-title {
  display: none;
}
.filter-list {
  display: flex;
  justify-content: center;
}
.filter-list-item:not(:last-child) {
  margin-bottom: 50px;
  margin-right: 8px;
}
.filter-btn {
  padding: 6px 22px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--subtitle-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.portfolio-list-item {
  margin-top: 30px;
  margin-left: 30px;
  padding-bottom: 20px;
  width: calc((100% - 90px) / 3);
  border: 1px solid #eeeeee;
}
.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-img {
  position: relative;
  top: -1px;
  left: -1px;
  margin-bottom: 20px;
}
.portfolio-content-wrapper {
  padding-left: 24px;
  padding-right: 24px;
}
.portfolio-title {
  margin-bottom: 4px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--subtitle-color);
}
.portfolio-description {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--description-color);
}
/* ============================= /PAGE PORTFOLIO ============================= */
